.disabled {
  display: none;
}

.enabled {
  display: block;
}
.expanded-select  {
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.AppHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 50px;
  padding: 10px 20px;
}
.AppSidebar {
  display: block;
  width: 20vw;
  height: 100%;
}
.AppContent {
  flex: 1;
}
.AppFooter {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
}
.AppContentWrapper {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
.AppContentWrapperWithoutAuth {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.infosMenuWrapper {
  position: relative;
}
.infosMenu {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}
.infosMenu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.g2-tooltip {
  display: none !important;
}

.closeIcon {
  margin-left: auto;
  cursor: pointer;
}
.form {
  margin: 0 auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
